.tooltip {
  position: relative;
  border-bottom: 1px dashed #000;
}

.tooltip:before, .tooltip:after {
  position: absolute;
  transform: translateY(-50%);
}

.tooltip:before {
  content: attr(data-tooltip);
  top: 50px;
  left: 50%;
  margin-bottom: 15px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  display: none;
}

.tooltip:after {
  content: "";
  left: 60%;
  margin-bottom: 5px;
  top: 21px;
  border: 10px solid #000;
  border-color: transparent transparent #000 transparent;
  display: none;
}

.tooltip:hover:before, .tooltip:hover:after {
  display: block;
}